* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body {

    font-family: vazir;
    background: linear-gradient(130deg, #0d3b62, #175c90);
}

img {

    width: 100%;
}

header {
    height: 100vh;
    position: relative;
}

picture {

    position: absolute;
    width: 100%;
    height: 100%;
}

picture img {

    height: 100%;
    object-fit: cover;
}

picture::after {

    content: '';
    inset: 0;
    backdrop-filter: blur(3px);
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
}

.nav-container-div {

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.4);
    padding: 0.6rem 1rem;
    border-bottom: 2px solid white;
}

.logo {

    width: 60px;
}

.menu-burger {

    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1100;
    position: relative;
}

@media screen and (min-width:768px) {

    .menu-burger {

        display: none;
    }
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width:768px) {

    ul {
        flex-direction: row;
        margin-top: -1rem;
    }
}

a {
    text-decoration: none;
    color: white;
    padding: 0.5rem;
}

button {

    font-family: vazir;
    border: none;
    outline: none;
    background: rgba(12, 66, 1, 0.9);
    padding: 0.5rem 1.5rem;
    border-radius: 10px 0 10px 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.900rem;
    color: white;

}

nav {

    position: fixed;
    background: rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 170%;
    width: 70%;
    right: -100%;
    transform: translateY(30%);
    transition: all 0.5s ease-in;
    z-index: 1000;
}

@media screen and (min-width:768px) {

    nav {

        /* right: 0; */
        background: none;
        position: static;
        width: auto;
        height: auto;
        margin-left: auto;
    }
}

.list-li {

    margin: 0.8rem 1rem;
}

#c:checked~nav {

    right: 0;
}


#c {
    display: none;
}

.header-content-wraper {

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

@media screen and (min-width:768px) {
    .header-content-wraper {

        padding: 0 4rem;
    }
}

.left-header-contetnt {

    display: none;
    width: 23%;
}

@media screen and (min-width:992px) {
    .left-header-contetnt {

        display: block;
    }
}

.header-content-title {

    text-align: center;
    color: white;
    text-shadow: 2px 1px 5px rgb(184, 83, 0);
    font-size: 2.5rem;
    margin-bottom: 1rem;


}

@media screen and (min-width:768px) {
    .header-content-title {

        text-align: right;
    }
}

.header-contetn-text {

    color: white;
    line-height: 2.4rem;
    font-weight: bold;
    font-size: 1.05rem;

}

.rigth-header-contetnt {

    padding: 0 1rem;
}

.prodoct-container {

    margin: 2rem 0;
    padding: 0 1rem;
}

@media screen and (min-width:992px) {
    .prodoct-container {

        padding: 0 5rem;
    }
}

.prodoct-main-title {

    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 4px 3px 5px rgb(52, 44, 123);
    margin-bottom: 2rem;
    font-size: 2.1rem;
}

.prodoct-item {

    background-color: white;
    padding: 0.5rem;
    border-radius: 8px;
    margin-bottom: 1rem;

}

@media screen and (min-width:575px) {
    .prodoct-item {

        width: 48%;
    }
}

@media screen and (min-width:992px) {
    .prodoct-item {

        width: 30%;
    }
}

.prodoct-img {

    border-radius: 10px;
}

.prodoct-box {

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.prodoct-wrraper {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

footer {

    text-align: center;
    padding: 0.5rem;
    color: white;
    background-color: #0d3b62;
    border: 2px solid white;

}